<div class="container-fluid">
    <div class="row mt-5 ms-5">
        <div class="col-3">
            <div class="logo">
            <img src="../../../assets/html-logo.png" alt="html" class=" mx-auto d-block rounded-circle">
            <p class="text-center mt-3"><strong>HTML</strong></p>
            </div>
        </div>
        <div class="col-3">
            <div class="logo">
            <img src="../../../assets/css-logo.png" alt="css" class=" mx-auto d-block rounded-circle">
            <p class="text-center mt-3"><strong>CSS</strong></p>
            </div>
        </div>
        <div class="col-3">
            <div class="logo">
            <img src="../../../assets/javascript-logo.png" alt="JS" class=" mx-auto d-block rounded-circle">
            <p class="text-center mt-3"><strong>JavaScript</strong></p>
            </div>
        </div>
        <div class="col-3">
            <div class="logo">
                <img src="../../../assets/bootstrap-logo.png" alt="bootstrap" class="mx-auto d-block bootstrap rounded-circle">
                <p class="text-center mt-3"><strong>Bootstrap</strong></p>
            </div>
        </div>
    </div>
    <div class="row mt-5 ms-5">
        <div class="col-3">
            <div class="logo">
            <img src="../../../assets/angular.png" alt="Angular" class="mx-auto d-block rounded-circle">
            <p class="text-center mt-3"><strong>Angular</strong></p>
            </div>
        </div>
        <div class="col-3">
            <div class="logo">
            <img src="../../../assets/node-logo.png" alt="NodeJS"  class="mx-auto d-block rounded-circle">
            <p class="text-center mt-3"><strong>NodeJs</strong></p>
            </div>
        </div>
        <div class="col-3">
            <div class="logo">
            <img src="../../../assets/java-logo-1.png" alt="Java" class="mx-auto d-block java rounded-circle">
            <p class="text-center mt-3"><strong>Java</strong></p>
            </div>
        </div>
        <div class="col-3">
            <div class="logo">
            <img src="../../../assets/mysql-logo1.jpg" alt="MySQL" class="mx-auto d-block rounded-circle mysql">
            <p class="text-center mt-3"><strong>MySQL</strong></p>
            </div>
        </div>
    </div>
</div>