<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
            <img src="../../../assets/Profile-photo.png" alt="Mi foto" class="profile img-fluid mx-auto d-block">                
            
        </div>
        
        </div>
        <div class="col-9 mt-5 text-center">
            <h1>Acerca de mi:</h1>
            <p class="mt-3"> Me apasiona la tecnología. Soy estudiante de tecnicatura en desarrollo de Software e Ingeniería. Me mantengo en constante aprendizaje para mejorar mi habilidades.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-3 ">
        <h2 class="text-center">Rocío Calderón</h2>
        <p class="text-center"><strong>Full Stack Developer Junior</strong> </p>
    </div>
