<div class="container-fluid seccion">
    <h2 class="item">Idiomas</h2>
    <div class="row">
        <div class="col-2 justify-content-center">
            <img src="../../../assets/english.jpg" alt="Inglés" class="foto-idioma">
        </div>
         <div class="col-3 mt-5">
            <p><strong>Inglés Avanzado</strong></p>                    
         </div>
         <div class="col-1 mt-5">
            <img src="../../../assets/pencil-square.svg" alt="Editar" class="icon">
            <img src="../../../assets/trash.svg" alt="Eliminar" class="icon">
         </div>
    
        <div class="col-2 justify-content-center">
            <img src="../../../assets/deutsch.jpg" alt="Alemán" class="foto-idioma">
        </div>
         <div class="col-3 mt-5">
            <p><strong>Alemán Avanzado</strong></p>                    
         </div>
         <div class="col-1 mt-5">
            <img src="../../../assets/pencil-square.svg" alt="Editar" class="icon">
            <img src="../../../assets/trash.svg" alt="Eliminar" class="icon">
         </div>
    </div>
</div>