<div class="container-fluid">
    <div class="row nav">
        <div class="col-2">
            <img src="../../../assets/APLogo.png" alt="Argentina Programa Logo" width=140px class="m1-0">
        </div>
        <div class="col-8">
            <p class="text-white"></p>
        </div>
        <div class="col-2 justify-content-right" >
            <a href="#"><img src="../../../assets/github.png" alt="github" width="35px" class="mt-3"></a>
            <a href="#"><img src="../../../assets/linkedin.png" alt="linkedin" width="35px" class="mt-3"></a>
            <button type="button" class="btn btn-dark mt-3 ">Log In</button>
        </div>
    </div>
</div>
