<div class="container-fluid seccion mt-3 ms-2">
    <h2 class="item">Hard & Soft Skills</h2>
    <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
            <img src="../../../assets/pencil-square.svg" alt="Editar" class="icon">
            <img src="../../../assets/trash.svg" alt="Borrar" class="icon">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="pie animate no-round" style="--p:100;--c:lightgreen;"> 100%</div>
            <img src="../../../assets/pencil-square.svg" alt="Editar">
            <img src="../../../assets/trash.svg" alt="Borrar">
            <p class="ps-4">Compromiso</p>
        </div>
        <div class="col-3">
            <div class="pie animate no-round" style="--p:100;--c:lightgreen;"> 100%</div>
            <img src="../../../assets/pencil-square.svg" alt="Editar">
            <img src="../../../assets/trash.svg" alt="Borrar">
            <p class="ms-2">Trabajo en Equipo</p>
        </div>
        <div class="col-3">
            <div class="pie animate no-round" style="--p:100;--c:lightgreen;"> 100%</div>
            <img src="../../../assets/pencil-square.svg" alt="Editar">
            <img src="../../../assets/trash.svg" alt="Borrar">
            <p class="ms-3">Responsabilidad</p>
        </div>
        <div class="col-3">
            <div class="pie animate no-round" style="--p:100;--c:lightgreen;"> 100%</div>
            <img src="../../../assets/pencil-square.svg" alt="Editar">
            <img src="../../../assets/trash.svg" alt="Borrar">
            <p class="ms-4">Growth Mindset</p>
        </div>
    </div>
    
</div>
